<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="passreset.css">
    <title>Password Reset</title>
</head>
<body>
<div class="message">{% if messages %}
{% for message in messages %}
<script>alert('{{message}}')</script>
{% endfor %}
{% endif %}</div>
    <div class="container">
        <h2>Password Reset</h2>
        <form method="post" action="/pass_reset">
        {% csrf_token %}
            <label for="new_password">New Password</label><br>
            <input type="password" id="new_password" name="new_password" required><br><br>
            <label for="reenter_password">Re-Enter New Password</label><br>
            <input type="password" id="reenter_password" name="reenter_password" required><br><br>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>
