{% comment %} <!DOCTYPE html>
<html>
<head>
    <title>Book List</title>
</head>
<body>
    <h1>Book List</h1>
    <ul>
    {% for book in books %}
        <li><a href="{% url 'home:book_detail' book.id %}">{{ book.title }}</a></li>
    {% endfor %}
    </ul>
    <a href="{% url 'home:book_new' %}">Add New Book</a>
</body>
</html>
 {% endcomment %}

<!DOCTYPE html>
<html>
<head>
    <title>Book List</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Book List</h1>
    <table>
        <tr>
            <th>Book Name</th>
            <th>Time Added</th>
        </tr>
        {% for book in books %}
        <tr>
            <td><a href="{% url 'home:book_detail' book.id %}">{{ book.title }}</a></td>
            <td>{{ book.time_added }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'home:book_new' %}">Add New Book</a>
</body>
</html>
