<!-- forgot_password.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/88d20cba8f.js" crossorigin="anonymous"></script>
    <!-- Google Fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/static/home/forgotpass.css">
    <title>Forgot Password</title>
</head>
<body>
<div class="message">{% if messages %}
{% for message in messages %}
<script>alert('{{message}}')</script>
{% endfor %}
{% endif %}</div>

    <div class="card">
        <p class="lock-icon"><i class="fa-solid fa-lock"></i></p>
        <h2>Forgot Password?</h2>
        <p>You can reset your Password here</p>
        <form action="/send_otp_fp" method="POST">
        {% csrf_token %}
        <input type="email" class="passInput" placeholder="Email address" name="email">
        <button type="submit">Send Otp</button>
        </form>
    </div>
</body>
</html>
