{% load static %}
<!DOCTYPE html>
<!-- Coding by CodingNepal | www.codingnepalweb.com-->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Login and Registration Form in HTML & CSS | CodingLab </title>
    <link rel="stylesheet" href="{% static 'home/login.css' %}">
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
<div class="message">{% if messages %}
{% for message in messages %}
<script>alert('{{message}}')</script>
{% endfor %}
{% endif %}</div>
  <div class="container">
    <input type="checkbox" id="flip">
    <div class="cover">
      <div class="front">
        <img src="{% static 'home/libx.png ' %}" alt="">
        <div class="text">
          <span class="text-1">Every new friend is a <br> new adventure</span>
          <span class="text-2">Let's get connected</span>
        </div>
      </div>
      <div class="back">
        <!--<img class="backImg" src="images/backImg.jpg" alt="">-->
        <div class="text">
          <span class="text-1">Complete miles of journey <br> with one step</span>
          <span class="text-2">Let's get started</span>
        </div>
      </div>
    </div>

    {% comment %} LOGIN {% endcomment %}
    <div class="forms">
        <div class="form-content">
          <div class="login-form" id="login">
            <div class="title">Login</div>
          <form action="/auth" method="POST">
            {% csrf_token %}
            <div class="input-boxes">
              <div class="input-box">
              <i class="fas fa-user"></i>
              <input type="text" placeholder="Enter your Username" name="username" required>
            </div>
              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="Enter your password" name="pass1" required>
              </div>
              <div class="text"><a href="{% url 'home:forgotpass' %}">Forgot password?</a></div>
              <div class="button input-box">
                <input type="submit" value="Sumbit">
              </div>
              <div class="text sign-up-text">Don't have an account? <label for="flip">Sigup now</label></div>
            </div>
        </form>
      </div>
        
      {% comment %} SIGNUP {% endcomment %}
      <div class="signup-form" id="register">
        <div class="title">Signup</div>
      <form action="/register" method="POST">
        {% csrf_token %}
          <div class="input-boxes">
            <div class="input-box">
              <i class="fas fa-user"></i>
              <input type="text" placeholder="Enter your Username" name="username" required>
            </div>
            <div class="input-box">
              <i class="fas fa-user"></i>
              <input type="text" placeholder="Enter your First Name" name="fname" required>
            </div>
            <div class="input-box">
              <i class="fas fa-user"></i>
              <input type="text" placeholder="Enter your Last Name" name="lname" required>
            </div>
            <div class="input-box">
              <i class="fas fa-envelope"></i>
              <input type="text" placeholder="Enter your email" name="email" required>
            </div>
            <div class="input-box">
              <i class="fas fa-lock"></i>
              <input type="password" placeholder="Enter your password" name="pass1" required>
            </div>

            <div class="input-box">
              <i class="fas fa-lock"></i>
              <input type="password" placeholder="Re-Enter your password" name="pass2" required>
            </div>
                       
            <div class="button input-box">
              <input type="submit" value="Sumbit">
            </div>
            <div class="text sign-up-text">Already have an account? <label for="flip">Login now</label></div>
          </div>
    </form>
  </div>
  </div>
  </div>
</div>
</body>
</html>