/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
}

/* Styles for the navigation bar */
header {
    background-color: #7a2cfc;
    padding: 10px 0;
}

nav {
    text-align: center;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

/* Styles for the banner */
.banner {
    background: whitesmoke;
    color: #000;
    text-align: justify;
    padding: 10px 0;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Footer styles */
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0;
}

/* Image styles */
.banner img {
    max-width: 970px;
    max-height: 250px;
    height: auto;
}

.banner p {
    font-size: 18px;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 700;
    margin: 10px;
    text-align: left; /* Align text to the left */
}

#s1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

span .button {
    width: 150px;
    border-radius: 25px;
    height: 30px;
    background-color: #7a2cfc;
    color: black;
}

/* Modify the background color */
.navbar-custom {
    background: linear-gradient(90deg,rgba(255,0,61,1) 17%, rgba(115,175,9,1) 60%,black 100%);
}

span,
h2 {
    color: #e51a4b;
}

h2 {
    text-align: center;
}

.body-p {
    font-style: prefor;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left; /* Align text to the left */
}